@import "./Utils.scss";

//Colors
//Tool: https://material.io/tools/color/#!
//My version: https://material.io/tools/color/#!/?view.left=1&view.right=1&primary.color=1B5E20&secondary.color=03A9F4&primary.text.color=f0f0f0&secondary.text.color=0f0f0f

$color-white: #f0f0f0;
$color-black: #0f0f0f;
.white {@include xony($color-black, $color-white);}
.black {@include xony($color-white, $color-black);}

$color-primary-light:   #4c8c4a;
$color-primary:         #1b5e20;
$color-primary-dark:    #003300;
.primary-light   {@include xony($color-white, $color-primary-light)}
.primary         {@include xony($color-white, $color-primary)}
.primary-dark    {@include xony($color-white, $color-primary-dark)}

$color-secondary-light: #67daff;
$color-secondary:       #03a9f4;
$color-secondary-dark:  #007ac1;
.secondary-light {@include xony($color-black, $color-secondary-light);}
.secondary       {@include xony($color-black, $color-secondary);}
.secondary-dark  {@include xony($color-white, $color-secondary-dark);}

$color-grey-100: mix($color-primary, #DDD, 5%);
$color-grey-200: mix($color-primary, #BBB, 5%);
$color-grey-300: mix($color-primary, #999, 5%);
$color-grey-400: mix($color-primary, #555, 5%);
$color-grey-500: mix($color-primary, #222, 5%);

.grey-100 {@include xony($color-black, $color-grey-100);}
.grey-200 {@include xony($color-black, $color-grey-200);}
.grey-300 {@include xony($color-black, $color-grey-300);}
.grey-400 {@include xony($color-white, $color-grey-400);}
.grey-500 {@include xony($color-white, $color-grey-500);}
