@import 'styles/Colors.scss';

.container {
  @extend .grey-100;
  display: flex;
  overflow: hidden;
  height: 1rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

.bar {
  @extend .grey-500;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: width .6s ease;
}
